<div class="modal fade" keypress-events data-backdrop="static" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="vm.dismissModal(false)"  aria-hidden="true">&times;</button>
        <h4 class="modal-title">Listenting for RFID Card</h4>
      </div>
      <div class="modal-body">
        <p>Please place the RFID Card</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="vm.dismissModal(false)" class="btn btn-default" >Cancel</button>
      </div>
    </div>
  </div>
</div>