<div class="modal fade" data-backdrop="static" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeM()"  aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Payment</h4>
      </div>
      <div class="modal-body">
        <p>{{ message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="confirm()" class="btn btn-primary" >Pay</button>
        <button type="button" ng-click="closeM()" class="btn btn-primary" >Cancel</button>
      </div>
    </div>
  </div>
</div>