{% extends 'admin_theme/dashboard.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <center>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Print Confirmation
                        <img src="{% static 'admin_theme/img/help-icon.png' %}" width="40px" height="40px"
                             style="margin: 10px; margin-bottom: 30px; margin-top: 0;" class="pull-right"
                             onclick="play_audio()"/>
                        <script>
                            function play_audio() {
                                $.get("/api/v1/play_audio?file_name=PrespPrintH.wav", function (data) {
                                });
                            }
                        </script>
                    </h3>
                </div>
                <div class="panel-body">
                    <h5>Do you want a printed prescription?</h5>
                    <a href="{% url 'prescription_print' prescription_id %}" class="btn btn-primary">Yes</a>
                    <a href="{% url 'end_session' %}" class="btn btn-primary">No</a>
                </div>
            </div>
        </center>
    </div>
{% endblock %}