{% extends 'admin_theme/dashboard.html' %}
{% block content %}
    <div class="container-fluid">
        <center>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Print Confirmation</h4>
                </div>
                <div class="panel-body">
                    <h5>Do you want a printed prescription?</h5>
                    <a href="{% url 'prescription_print' prescription_id %}" class="btn btn-primary">Yes</a>
                    <a href="{% url 'end_session' %}" class="btn btn-primary">No</a>
                </div>
            </div>
        </center>
    </div>
{% endblock %}