{% extends 'admin_theme/dashboard.html' %}
{% load staticfiles %}
{% block content %}
    <center>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>iMed Dispenser</h3>
                </div>
                <div class="panel-body">

                    <br>
                    <a href="{% url 'launch_camera_wait' %}" class="btn btn-primary">Scan Qr</a>
                    <a href="{% url 'pos_index' %}" class="btn btn-primary" style="margin-left: 40px;">Purchase OTC
                        Drugs</a>
                    <p><img src="{% static 'admin_theme/img/help-icon.png' %}" width="40px" height="40px"
                            style="margin-right: 40px; margin-top: 5px;"
                            onclick="play_audio()"/>
                    <h3>ध्वनि निर्देशों के लिए इस आइकन पर क्लिक करें</h3>
                    </p>
                    <script>
                        function play_audio() {
                            $.get("/api/v1/play_audio?file_name=introH.wav", function (data) {
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </center>
{% endblock %}